# LaTeX
auto/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.synctex.gz*
*.toc

# World Climate Data – Huge!
supplement/worldclim/*.tif
supplement/worldclim/readme.txt
bio*.???

# Output images
output*.png
dispersal*.png
run*.png
run*.json
tick*.png

# Python stuff
*.pyc
__pycache__
.mypy_cache

# Rust
target/
Cargo.lock

*.tif
*.zip
_minted-model_description/
_markdown_model_description/

supplement/dispersal_model_rust/plots/
supplement/gavin2017processbased/output*.png
*.mp4

*.wkb

*0.json

