# LaTeX
auto/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.synctex.gz

# World Climate Data – Huge!
supplement/worldclim/*.tif
supplement/worldclim/readme.txt

# Output images
output*.png
dispersal*.png
run*.png
run*.json
tick*.png

# Python stuff
*.pyc
__pycache__

# Rust
target/
